.rate_stars {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  margin-top: 30px;

  svg {
    cursor: pointer;
    transition: fill 0.7s ease;
  }
  svg[fill="gold"] {
    transition: fill 0.7s ease;
  }
}
