<div class="inputs">
  <input
    #starInput
    [(ngModel)]="sizeValue"
    (blur)="onSizeChange()"
    type="number"
    placeholder="Set count of stars"
    class="input-field"
  />
  <input
    #textInput
    [(ngModel)]="textValue"
    (input)="onTextChange($event)"
    type="text"
    placeholder="Set text"
    class="input-field"
  />
  <button
    [disabled]="!starInput.value || !textInput.value"
    (click)="saveRateOptions()"
    class="save-button"
  >
    Save
  </button>
</div>
<form [formGroup]="form">
  <pre>{{ form.value | json }}</pre>
  <app-rate formControlName="rate" [options]="rateOptions"></app-rate>
</form>
